/* styling for body. This properties is the standard */

:root{
    --primary-black: #333333;
    --secondary-white: #FFFFFF;
    --secondary-smokewhite : #D6D6D6;

    --font-black: var(var(--primary-black));
    --font-size-normal: 400;
    --font-size-medium: 500;
    --font-size-bold: 700;

    --font-style-primary : 'Rubik', sans-serif;
    --font-style-secondary : 'Ubuntu', sans-serif;
}


/* Styling main section of HTML */


main{
    /* margin : 1rem 5%; */
    font-family: var(--font-style-primary);
    font-weight: var(--font-size-normal);
    color: var(--primary-black);
    background-color: var(--secondary-white);
}


/* Styling top navigation bar  */
.top__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top__menu{
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin : .5rem 1rem;
}

h4.menu__text{
    color: var(--font-black);
    font-family: var(--font-style-secondary);
    font-weight: var(--font-size-medium);
    font-size: 1.2rem;
    margin: 0 1rem 0 0;
}

/* styling hero section  */

.hero{
    height: auto;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr)) ;
    column-gap: 3.5rem;
    row-gap:3.5rem;
}

/* Styling hero text  */

.hero__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-style-primary);
}

h5.hello{
    font-family: var(--font-style-secondary);
    font-size: 2.125rem;
    font-weight: var(--font-size-medium);
    margin: 0;
}


h1.intro__name{
    font-size: 4.625rem;
    font-weight: var(--font-size-normal);
    margin: 1rem 0;
}

h2.intro__role{
    font-size: 2.2rem;
    font-weight: var(--font-size-normal);
    margin: 0 0 1.5rem 0;
}

p.intro__summary{
    font-size: 1.5rem;
    font-weight: var(--font-size-normal);
    margin: 0;
}

/* styling hero image  */
img.hero__image{
    width: 100%;
    height: auto;
    margin: 0;
}


/* Styling Social Icon and Scroll  */

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

/* Social Icon */
.icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space{
    width: 15.875rem;
    height: auto;
}

p.scroll{
    margin: 0 0 1rem 0;
}

/* Styling Intro Video  */
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

p.video__text{
    text-align: center;
}

video{
    width: 80%;
    height: auto;
    margin: 1rem 0;
}

/* Styling Skills Section  */
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: grid;
    grid-template-columns:  16rem 16rem 16rem;
    grid-gap: 1rem;
}

.skill__block{
    padding: 1rem 2rem;
    background-color: var(--secondary-smokewhite);
    color: var(--primary-black);
}

.skills__uiux{
    background-color: var(--primary-black);
    color:var(--secondary-smokewhite);
}
h2.skill{
    font-size: 2rem;
    font-weight: var(--font-size-normal);
}

p.skill{
    font-size:1rem;
    font-weight: var(--font-size-normal);
}

.read__more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Styling Portfolio  */
.portfolio{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

p.portfolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

span{
    width: 2rem;
    height: 2px;
    background-color: var(--primary-black);

}

/* Styling image container  */
.img__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 1rem;
    column-gap: 1rem;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

img.port{
    width: 100%;
    height: auto;
}
